.prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2{
        margin-top: 120px;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        font-family: montserrat;
        & span{
            color: var(--orange);
        }
    }
    & h4{
        margin-top: 20px;
        font-size: 32px;
        color: var(--grey);
        text-align: center;
        max-width: 1050px;
    }
}
.prices__cards{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;

}
.prices__item-con {
    max-width: 424px;
}
.prices__rate {
    display: flex;
}
.prices__item{
    flex-basis: 580px;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    height: 813px;
    background-color: var(--light-grey);
    border-radius: 30px;
    padding: 40px;
    justify-content: space-between;
    & h5 {
        width: fit-content;
        position: relative;
        font-size: 32px;
        line-height: 100%;
        border-radius: 20px;
        border: 1px var(--dark) solid;
        padding: 10px 20px 10px 20px;
        & img {
            position: absolute;
            right: -70px;
            top: 0;            
        }

        & img:last-child{
            opacity: 0%;
        } 
    }
    & h3 {
        font-size: 37px;
        font-weight: 700;
        line-height: 42px;
        margin-top: 30px;
        & span {
            background: var(--gradient);
            color: transparent;
            background-clip: text;
        }
    }
    & p{
        color: var(--grey);
        margin-top: 20px;
    }
    & ol{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 35px;
        & li{
            list-style: url(../img/check.svg);
        }

    }
    &:hover{
        background-color: var(--dark);
        color: var(--white);
        transition: all 0.5s;
        & p{
            color: var(--grey);
        }
        & li{
            list-style: url(../img/check_black.svg);
        }
        & h5{
            border: 1px var(--white) solid;
        }
        & img:last-child{
            opacity: 100%;
        }
    }
}
.prices-dop{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 110px;
    width: 100%;
    & h3{
        text-align: center;
        font-size: 48px;
        font-family: montserrat;
        font-weight: 700;
    }
}
.prices-dop__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.prices-dop__item{
    flex-basis: 730px;
    height: 330px;
    background-color: var(--light-grey);
    border-radius: 40px;
    padding: 40px;
    position: relative;
    & h5{
        font-family: montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }
    & p{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 20px;
    }
    & span{
        background: var(--gradient);
        color: transparent;
        background-clip: text;
        font-size: 36px;
        font-weight: 700;
    }
    & a{
        margin-top: 30px;
    }
    & img{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    & img:last-child{
        opacity: 0%;
    }
    &:hover{
        & img:last-child{
            opacity: 100%;
        }
        background-color: var(--dark);
        color: var(--white);
        transition: all 0.5s;
    }
}